@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        max-width: 87.5%;
        margin: 0 auto;

        @media (max-width: 1024px) {
            max-width: 92.4%;
        }

        @media (max-width: 600px) {
            max-width: 87.2%;
        }
    }

    h2 {
        font-size: theme(fontSize.64);
        font-weight: theme(fontWeight.black);

        @media (max-width: 1024px) {
            font-size: 3.9vw;
        }

        @media (max-width: 600px) {
            font-size: 8.53vw;
        }
    }

    p {
        color: theme(colors.blue.200);
    }

    .icon-shadow {
        filter: drop-shadow(0vw 0.2vw 0.34vw rgba(99, 117, 124, 0.80));
        
        @media (max-width: 1024px) {
            filter: drop-shadow(0vw 0.4vw 0.68vw rgba(99, 117, 124, 0.80));
        }

        @media (max-width: 600px) {
            filter: drop-shadow(0vw 0.8vw 1.2vw rgba(99, 117, 124, 0.80));
        }
    }
}

::-webkit-scrollbar-thumb {
    background: theme(colors.black.100); 
}

::-webkit-scrollbar {
  width: 0.5vw;
}