@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        max-width: 87.5%;
        margin: 0 auto;

        @media (max-width: 1024px) {
            max-width: 92.4%;
        }

        @media (max-width: 512px) {
            max-width: none;
            padding: 0 6.4vw;
        }
    }
}